.login {
  height: 500px;
  width: 500px;
  margin: 200px auto;
}

button {
  width: 130px;
  height: 30px;
  margin-bottom: 10px;
}

input {
  width: 250px;
  height: 25px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}

span {
  padding: 10px 5px 0 0;
}

.checkBox {
  margin-right: 0;
}
.interest {
  margin: 0;
}

.matchBox {
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  border: black 1px solid;
  display: inline-block;
}

.messageBox {
  width: 200px;
  height: 100px;
  background-color: lightpink;
  border: black 1px solid;
  display: inline-block;
}

.center {
  margin-left: 30px;
}

.profileMatches {
  width: 900px;
  height: 350px;
  background-color: lightyellow;
}

.profileMessages {
  width: 900px;
  height: 350px;
  background-color: lightgray;
}