.login {
  height: 500px;
  width: 500px;
  margin: 200px auto;
}

button {
  width: 130px;
  height: 30px;
  margin-bottom: 10px;
}

input {
  width: 250px;
  height: 25px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}

span {
  padding: 10px 5px 0 0;
}

.checkBox {
  margin-right: 0;
}
.interest {
  margin: 0;
}
